menuconfig ENCODER_MODULE
	bool "Module for encoder signals"
	default y

if ENCODER_MODULE

config ENCODER_TIMEOUT_DURATION_MSEC
	int "Milliseconds elapsed before 0 is output in HID report"
	default 500

config ENCODER_MINIMUM_DELTA_TIME_MSEC
	int "Minimum milliseconds required for a encoder update to be valid"
	default 10
	help
		"Larger values means there is less susceptibility 
		to noise but the system might not pick up actual readings"

config ENCODER_VELOCITY_LOW_PASS_FILTER_COEFFICIENT
	int "Alpha for moving average filter. Min 0, max 1000"
	default 800

endif # ENCODER_MODULE

module = ENCODER_MODULE
module-str = ENCODER module
source "subsys/logging/Kconfig.template.log_config"
