#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig HID_MODULE
	bool "HID module"
	default y

if HID_MODULE

config HID_MODULE_THREAD_STACK_SIZE
	int "HID module thread stack size"
	default 1280

choice 
	prompt "HID Controller Output configuration"

config HID_MODULE_CONTROLLER_OUTPUT_A
	bool "Avg speed on left joystick y-axis, speed difference on left joystick x-axis"

config HID_MODULE_CONTROLLER_OUTPUT_B
	bool "Avg speed on left joystick y-axis, speed difference on right joystick x-axis"

endchoice

config HID_MODULE_MIN_OUTPUT_SPEED_MM_PER_SEC
	int "Translational speed that maps to no output in HID report"
	default 20
    help 
        "Uses millimeter per second to get a finer resolution"

config HID_MODULE_MAX_OUTPUT_SPEED_MM_PER_SEC
	int "Translational speed that maps to max output in HID report"
	default 500
    help
        "Uses millimeter per second to get a finer resolution"

config HID_MODULE_MIN_OUTPUT_SPEED_DIFF_MM_PER_SEC
    int "Minimum speed difference between wheels which maps to no output in HID report"
    default 5

config HID_MODULE_MAX_OUTPUT_SPEED_DIFF_MM_PER_SEC
    int "Maximum speed difference between wheels which maps to max output in HID report"
    default 1000


endif # HID_MODULE

module = HID_MODULE
module-str = HID module
source "subsys/logging/Kconfig.template.log_config"
