# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Application control module"

config APP_WHEELCHAIR_REAR_WHEEL_DIAMETER_CM
    int "Diameter of the rear wheel of the wheelchair in centimeters"
    default 61

config APP_CYLINDER_DIAMETER_CM
    int "Diameter of cylinder to which encoder is attached"
    default 20



config APP_MIN_SPEED_CM_PER_SEC
	int "Translational speed that maps to no output in HID report"
	default 2
    help 
        "Uses centimeter per second to get a finer resolution"

config APP_MAX_SPEED_CM_PER_SEC
	int "Translational speed that maps to max output in HID report"
	default 50
    help
        "Uses centimeter per second to get a finer resolution"

config APP_MIN_SPEED_DIFF_CM_PER_SEC
    int "Minimum speed difference between wheels which maps to no output in HID report"
    default 2

config APP_MAX_SPEED_DIFF_CM_PER_SEC
    int "Maximum speed difference between wheels which maps to max output in HID report"
    default 50

endmenu
