# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Application control module"

config APP_CYLINDER_DIAMETER_MM
    int "Diameter of cylinder to which encoder is attached"
    default 79

config APP_WHEEL_SPEED_LIMIT_MM_PER_SEC
    int "Maximum speed of an individual wheelchair wheel"
    default 500

endmenu
