# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Application control module"

config APP_CYLINDER_DIAMETER_MM
    int "Diameter of cylinder to which encoder is attached"
    default 79

config APP_INTER_WHEEL_DISTANCE_MM
    int "Distance between the wheels of the wheelchair"
    default 620
endmenu
