/* SPDX-License-Identifier: Apache-2.0 */

/ {
	qdecA: qdecA {
		compatible = "nordic,qdec-gpio";
		status = "okay";
		label = "quadrature encoder A";
		line-a-gpios = <&gpio1 8 0>;
		line-b-gpios = <&gpio0 7 0>;
		ticks-per-rotation = <16>;
	};

	qdecB: qdecB {
		compatible = "nordic,qdec-gpio";
		status = "okay";
		label = "quadrature encoder B";
		line-a-gpios = <&gpio0 11 0>;
		line-b-gpios = <&gpio0 12 0>;
		ticks-per-rotation = <16>;
	};

};