menu "qdec_sample"
rsource "drivers/Kconfig"
rsource "src/modules/Kconfig.modules_common"
rsource "src/modules/Kconfig.qdec_module"
rsource "src/events/Kconfig"
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = APPLICATION_MODULE
module-str = application
source "subsys/logging/Kconfig.template.log_config"